*{
  margin: 0;
  box-sizing: border-box;
  font-family: "Quicksand", Arial, sans-serif;
  font-weight: 400;
}
body{
  scroll-behavior: smooth;
}

.heading{
  letter-spacing: 0.4px;
    font-weight:bolder;
    font-size:23px;
}